<md-toolbar color="primary">
    <md-icon class="toolbar-icon">assignment</md-icon>
    <div class="md-toolbar-tools"> Race List - Next 5</div>
</md-toolbar>

<div flex md-layout layout-align="center">

    <md-card>
        <md-card-title>Next 5 Races</md-card-title>
        <md-card-subtitle>Counting down now...</md-card-subtitle>
        <md-card-content>

            <md-list>
                <md-divider></md-divider>
                <div class="loading-overlay" *ngIf="loading">
                    <md-progress-bar mode="indeterminate"></md-progress-bar>
                </div>
                <div *ngFor="let race of races; let i=index;">

                    <md-list-item *ngIf="race.timeRemaining.diff > 0 && i < 5">

                        <md-icon md-list-icon>date_range</md-icon>

                        <h3 md-line><span class="title">{{race.name}} ({{race.category}})</span></h3>
                        <p md-line> Closing in {{ race.timeRemaining.asString }} </p>
                        <a md-button routerLink="/event/{{ race.eventId }}" color="primary">
                            DETAILS<md-icon>keyboard_arrow_right</md-icon>
                        </a>

                    </md-list-item>

                </div>
                <md-divider></md-divider>
            </md-list>

        </md-card-content>
        <md-card-actions>
            <button md-raised-button (click)="updateRaceData()" color="primary"><md-icon>update</md-icon> UPDATE</button>
        </md-card-actions>
    </md-card>

</div>
