<md-toolbar color="primary">
    <md-icon class="toolbar-icon">assessment</md-icon>
    <div class="md-toolbar-tools"> Race Details - {{ race.name }}</div>
</md-toolbar>

<div flex md-layout layout-align="center">

    <md-card>
        <md-card-title>{{ race.name }}</md-card-title>
        <md-card-subtitle>{{ race.category }}</md-card-subtitle>

        <md-card-content>

            <md-list>
                <md-divider></md-divider>
                <div class="loading-overlay" *ngIf="loading">
                    <md-progress-bar mode="indeterminate"></md-progress-bar>
                </div>
                <md-list-item *ngFor="let participant of eventDetails.participants; let i=index;">
                    <md-icon md-list-icon>bookmark</md-icon>

                    <h3 md-line><span class="title">#{{participant.place}} - {{participant.name}}</span></h3>
                    <p md-line><span class="subtitle">{{ participant.other }}</span></p>

                </md-list-item>
                <md-divider></md-divider>
            </md-list>

        </md-card-content>

        <md-card-actions>
            <a md-raised-button routerLink="/" md-button color="primary">
                <md-icon>arrow_back</md-icon>
                BACK</a>
        </md-card-actions>
    </md-card>

</div>
