/* You can add global styles to this file, and also import other style files */

body {
  background-color: lightgray;
}

md-card-subtitle {
  font-style: italic;
}

md-card {
  margin: 30px 100px 30px 100px;
}


.title {
  font-size: large;
}

.subtitle {
  font-style: italic;
  color: grey;
}

.toolbar-icon {
  padding: 0 14px;
}